.container {
  height: 100%;
  left: 0;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 1;
  
  &__text {
    margin: auto;
    max-width: 90%;
    max-height: calc(100% - 140px);
    overflow-y: auto;
    position: relative;
    width: 100%;

    @media screen and (min-width:701px) {
      font-size: 44px;
      padding: 100px 40px 140px;
    }

    @media screen and (max-width:700px) {
      font-size: 22px;
      padding: 40px 40px 140px;
    }
  }
  
  &__name {
    padding: 0 10px;
  }
}

