.footer {
  bottom: 40px;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: fixed;
  right: 0;
  z-index: 10;
  
  &__button {
    background-color:$dark-color;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    top: 0px;
    transition: all 0.3s linear 0s;
    
    @media screen and (min-width:701px) {
      height: 70px;
      padding: 24px;
      width: 311px;
    }
  
    @media screen and (max-width:700px) {
      height: 50px;
      padding: 19px;
      width: 220px;
    }
  }

  &__button:before {
    bottom: 0;
    content: attr(data-btntext);
    color: $light-color;
    display: flex;
    left: 0;
    margin: auto;
    padding: 17.5px 0px 15.5px 24px;
    position: absolute;
    text-indent: 0px;
    top: 0;
    transition: all 0.3s linear 0s;
    width: 100%;

    @media screen and (min-width:701px) {
      height: 35px;
    }

    @media screen and (max-width:700px) {
      height: 22px;
    }
  }
    
  &__button:hover {
    text-indent: -220px;
  }
  
  &__button:hover:before {
    text-indent: -500px;
  }
    
  &__icon {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 20px;
    text-indent: 0;
    top: 0;
    transform: translateX(0);
    transition: all 0.3s linear 0s;
    z-index: 10;

    .footer__button:hover & {
      transform: translateX(-370%);
    }
    @media screen and (max-width: 700px){
      width: 20px;
    }
  }
}
