
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: 'Rammetto One';
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
}

svg {
  @media screen and (min-width:701px) {
    height: 32px;
    width: 32px;
  }
  
  @media screen and (max-width:700px) {
    width: 20px;
    height: 20px;
  }
}
button {
  @media screen and (min-width:701px) {
    font-size: 26px;
  }

  @media screen and (max-width:700px) {
    font-size: 16px;
  }
}
a{
  font-family: 'Sawarabi Gothic';
  text-decoration: none;
  
  @media screen and (min-width:701px) {
    font-size: 26px;
  }
  @media screen and (max-width:700px) {
    font-size: 16px;
  }
}
