.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  z-index: 9;
  
  @media screen and (min-width:701px) {
    margin-right: 40px;
  }
  
  @media screen and (max-width:700px) {
    margin-right: 10px;
  }
  
  &__button {
    align-items: center;
    border-radius: 50px;
    background-color: $dark-color;
    color: $light-color;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    top: 41px;
    transition: all .2s linear 0s;
    z-index: 10;

    @media screen and (min-width:701px) {
      padding: 19px;
    }

    @media screen and (max-width:700px) {
      height: 50px;
      padding: 15px;
    }
  }

  &__button:not(:first-of-type) {
    
    @media screen and (min-width:701px) {
      margin-left: 25px;
    }
    
    @media screen and (max-width:700px) {
      margin-left: 10px;
    }
  }
  a{
    @media screen and (min-width:701px) {
      margin-left: 25px;
      padding: 19px;
    }
    @media screen and (max-width:700px) {
      margin-left: 10px;
      padding: 15px;
    }
  }
  
  &__button--effect {
    transition: all .2s linear 0s;
  }
    
  &__button--effect:before {
    content:"";
    opacity: 0;
    transition: all .2s linear 0s;
    visibility: hidden;
  }
    
  &__button--effect:hover {
    text-indent: 1px;
  }
      
  &__button--effect:hover:before {
    align-items: center;
    border-radius: 50px 0 0 50px;
    color: $light-color;
    content: attr(data-tooltip-whatsapp) attr(data-tooltip-download) attr(data-tooltip-send);
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 32px;
    opacity: 1;
    padding-right: 10px;
    position: relative;
    text-indent: 0;
    transition: all .2s linear;
    visibility: visible;
    width: auto;
  }
  
  &__icon {
    background-color: $dark-color;
    fill: $light-color;
    position: relative;
    z-index: 9;
  }
}
