.curiosity__btn {
  border-radius: 50px;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  bottom: 140px;
  left: 42%;
  transition: all 0.3s linear 0s;
  width: 311px;
  padding: 24px;
  height: 69px;
  background-color: black;
  z-index: 10;
}

.curiosity__btn--effect {
  background-color: black;
  border: none;
  cursor: pointer;
  top: 0px;
  transition: all 0.3s linear 0s;

  &:before {
    color: white;
    content: attr(data-btntext);
    padding: 17.5px 0px 15.5px 24px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    text-indent: 0px;
    width: 100%;
    font-size: 26px;
    transition: all 0.3s linear 0s;
  }
  &:hover {
    text-indent: -220px;
    
    &:before {
      text-indent: -500px;
    }
  }
}
.btn__icon{
  width: 32px;
  height: 27.71px;
  text-indent: 0;
  position: absolute;
  transform: translateX(220px);
  transition: all 0.3s linear 0s;
  top: 20px;
  z-index: 10;
}
