* {
  box-sizing: border-box;
}
  @media screen and (max-width: 700px){
    .container__text{
      font-size: 22px;
    }
}
  @media screen and (min-width: 700px){
    .container__text{
      font-size: 44px;
    }
  }


html,

body {
  min-height: 100%;
  margin: 0;
  max-width: auto;
  max-height: 2000px;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  position: relative;
  z-index: 9;
}

.container {
  align-items: center;
  justify-content: center;
  left: 0;
  max-height:none;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.container__text {
  display: flex;
  position: relative;
  font-family: 'Rammetto One';
  font-style: normal;
  text-align: center;
  height:auto;
  width: auto;
  padding: 0 100px;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 170px;
  line-height: 81px
}

.container__name {
  background-color: black;
  color: white;
  padding: 0 10px;
}
