* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  position: relative;
  z-index: 9;
}

.container {
  height: 100%;
  left: 0;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container__text {
  position: relative;
  justify-content: center;
  font-family: 'Rammetto One';
  font-style: normal;
  font-size: 44px;
  width: 100%;
  max-width: 95%;
  height: 405px;
  padding-left: 150px;
  top: 130px;
  line-height: 81px
}

.container__name {
  background-color: black;
  color: white;
  padding: 0 10px;
}
