doctype html
html(lang='pt-BR')
  head
    title Curiosidades Linguisticas
    meta(charset='utf-8')    
    meta(name='viewport' content='width=device-width')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap' rel='stylesheet')    
    link(href='styles.css' type='text/css' rel='stylesheet')
  body#body
    header.header
      button.header__button(data-tooltip-whatsapp='Compartilhar por WhatsApp')
        svg.header__icon.header__icon--zap(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 33 33')
          path(d='M27.774 5.152A15.708 15.708 0 0016.56.5C7.826.5.708 7.616.7 16.352c0 2.798.732 5.52 2.114 7.93L.572 32.5l8.408-2.204a15.866 15.866 0 007.58 1.93h.008c8.736 0 15.852-7.116 15.86-15.86a15.796 15.796 0 00-4.656-11.214h.002zM16.56 29.542c-2.362 0-4.68-.635-6.712-1.84l-.48-.288-4.988 1.308 1.332-4.866-.312-.502a13.12 13.12 0 01-2.014-7.01c0-7.252 5.914-13.168 13.182-13.168a13.12 13.12 0 019.32 3.862 13.113 13.113 0 013.856 9.32c-.008 7.278-5.922 13.184-13.184 13.184zm7.23-9.868c-.394-.198-2.34-1.156-2.706-1.292-.364-.13-.63-.198-.89.198-.266.394-1.026 1.292-1.254 1.55-.228.266-.464.296-.86.1-.394-.2-1.672-.616-3.184-1.97-1.18-1.05-1.97-2.35-2.206-2.744-.228-.396-.022-.608.176-.806.174-.176.394-.464.592-.692.2-.228.266-.396.396-.66.13-.268.068-.496-.03-.694-.1-.198-.89-2.152-1.224-2.94-.32-.778-.646-.67-.89-.68-.228-.014-.494-.014-.76-.014a1.458 1.458 0 00-1.058.494c-.364.396-1.382 1.354-1.382 3.308 0 1.954 1.42 3.832 1.62 4.098.196.266 2.788 4.264 6.766 5.984.94.41 1.68.652 2.258.836.95.304 1.808.258 2.492.16.76-.116 2.342-.96 2.676-1.886.328-.928.328-1.72.228-1.886-.098-.168-.364-.266-.76-.464z')
      button#takeShot.header__button(data-tooltip-download='Baixar curiosidade!')
        svg.header__icon.header__icon--shot(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 25 33')
          path(d='M1.711 30.1h21.592a1.2 1.2 0 01.161 2.389l-.161.01H1.71a1.2 1.2 0 01-.163-2.389l.163-.01h21.592H1.71zM12.321.512L12.51.5a1.6 1.6 0 011.588 1.412l.011.188v20.139l5.27-5.268a1.6 1.6 0 012.11-.133l.151.135a1.6 1.6 0 01.133 2.111l-.133.15-7.993 7.992a1.6 1.6 0 01-2.112.134l-.15-.132-8.004-7.994a1.6 1.6 0 012.111-2.396l.15.133 5.268 5.26V2.1A1.6 1.6 0 0112.321.51L12.51.5l-.188.011z')
    #container.container
      h1.container__text
        span#textName.container__name
        span#textDesc.container__desc
    button#newCuriosity.btn
      span.btn__text Nova Curiosidade
      svg.btn__icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 33 32')
        path(fill='#fff' d='M32.5 16a16 16 0 11-32 0 16 16 0 0132 0zm-15-7a1 1 0 00-2 0v6h-6a1 1 0 000 2h6v6a1 1 0 002 0v-6h6a1 1 0 000-2h-6V9z')
    a#screen__preview(href='#' download='screenshot.png' style='display: none;')   
    script(type="module", src='./index.js')
