* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  max-height: 1024px;
  max-width: 100%;
  padding: 0;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 150px;
  margin-right: 60px;
  margin-top: 40px;
  position: relative;
  z-index: 9;
}

.header__button {
  align-items: center;
  background-color: black;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header__button:hover::after{
  content: attr(data-tooltip-whatsapp);
  top: 50px;
  position: absolute;
  border-radius: 10px;
  font-size: 15px;
}
.header__button:not(:first-of-type):hover::after{
  content: attr(data-tooltip-download);
  top: 50px;
  position: absolute;
  border-radius: 10px;
  font-size: 15px;
}

.header__button:not(:first-of-type) {
  margin-left: 20px;
}

.header__icon {
  fill: white;
  height: 24px;
  width: 24px;
}

.header__icon:hover {
  fill: gray;
}

.container {
  height: 100%;
  width: 100%;
  padding: 200px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.container__text {
  font-family: 'Rammetto One';
  font-style: normal;
  font-size: 30px;
  max-width: 1200px;
  margin: auto;
  margin-top: 130px;
}

.container__name {
  background-color: black;
  color: white;
}

.btn {
  align-items: center;
  background-color: black;
  border-radius: 50px;
  bottom: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  position: fixed;
  left: 0;
  margin: auto;
  max-width: 320px;
  right: 0;
  height: 80px;
  z-index: 10;
}

.btn__text {
  border-color: transparent;
  display: flex;
  font-family: 'Sawarabi Gothic';
  font-size: 26px;
  padding: 24px 10px 24px 40px;
}

.btn__icon {
  width: 35px;
  height: auto;
}
