* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
}

@media screen and (min-width: 701px) {
  svg {
    height: 32px;
    width: 32px;
  }
}
@media screen and (max-width: 700px) {
  svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 701px) {
  button {
    font-size: 26px;
  }
}
@media screen and (max-width: 700px) {
  button {
    font-size: 16px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  position: relative;
  z-index: 9;
}
.header__button {
  align-items: center;
  background-color: black;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  top: 41px;
  transition: all 0.2s linear 0s;
  z-index: 10;
}
@media screen and (min-width: 701px) {
  .header__button {
    padding: 19px;
  }
}
@media screen and (max-width: 700px) {
  .header__button {
    padding: 15px;
  }
}
@media screen and (min-width: 701px) {
  .header__button:not(:first-of-type) {
    margin-left: 25px;
  }
}
@media screen and (max-width: 700px) {
  .header__button:not(:first-of-type) {
    margin-left: 10px;
  }
}
.header__button--effect {
  transition: all 0.2s linear 0s;
}
.header__button--effect:before {
  content: "";
  opacity: 0;
  transition: all 0.2s linear 0s;
  visibility: hidden;
}
.header__button--effect:hover {
  text-indent: 1px;
}
.header__button--effect:hover:before {
  align-items: center;
  border-radius: 50px 0 0 50px;
  color: white;
  content: attr(data-tooltip-whatsapp) attr(data-tooltip-download) attr(data-tooltip-send);
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 32px;
  opacity: 1;
  padding-right: 10px;
  position: relative;
  text-indent: 0;
  transition: all 0.2s linear;
  visibility: visible;
  width: auto;
}
.header__icon {
  background-color: black;
  fill: white;
  position: relative;
  z-index: 9;
}
.footer {
  bottom: 40px;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: fixed;
  right: 0;
  z-index: 10;
}
.footer__button {
  background-color: black;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  top: 0px;
  transition: all 0.3s linear 0s;
}
@media screen and (min-width: 701px) {
  .footer__button {
    height: 70px;
    padding: 24px;
    width: 311px;
  }
}
@media screen and (max-width: 700px) {
  .footer__button {
    height: 50px;
    padding: 19px;
    width: 220px;
  }
}
.footer__button:before {
  bottom: 0;
  color: white;
  content: attr(data-btntext);
  display: flex;
  left: 0;
  margin: auto;
  padding: 17.5px 0px 15.5px 24px;
  position: absolute;
  text-indent: 0px;
  top: 0;
  transition: all 0.3s linear 0s;
  width: 100%;
}
@media screen and (min-width: 701px) {
  .footer__button:before {
    height: 35px;
  }
}
@media screen and (max-width: 700px) {
  .footer__button:before {
    height: 22px;
  }
}
.footer__button:hover {
  text-indent: -220px;
}
.footer__button:hover:before {
  text-indent: -500px;
}
.footer__icon {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 20px;
  text-indent: 0;
  top: 0;
  transform: translateX(0);
  transition: all 0.3s linear 0s;
  z-index: 10;
}
.footer__button:hover .footer__icon {
  transform: translateX(-400%);
}
.container {
  height: 100%;
  left: 0;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 1;
}
.container__text {
  font-family: "Rammetto One";
  font-style: normal;
  margin: auto;
  max-width: 90%;
  max-height: calc(100% - 140px);
  overflow-y: auto;
  padding: 120px 40px 140px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 701px) {
  .container__text {
    font-size: 44px;
  }
}
@media screen and (max-width: 700px) {
  .container__text {
    font-size: 22px;
  }
}
.container__name {
  background-color: black;
  color: white;
  padding: 0 10px;
}



/*# sourceMappingURL=/styles.b61e60ae.css.map */